#main_wrap {
    margin: 0 auto;
    width: 1002px;
    height: 100%;
    background: aliceblue;
}
body {
    margin: 0;
}
#main_draw {
    border-width: 1px;
    border-color: black;
    border-radius: 1px;
    border-style: solid;
}
h1 {
    padding-left: 20px;
    margin: 0 0 15px 0;
}
h3 {
    margin: 5px 0;
}
#statistics {
    position: fixed;
    left: 10px;
    bottom: 10px;
    height: 200px;
    width: 300px;
}

.info_block {
    background: rgba(130,130,130,0.3);
    border-style: solid;
    border-color: rgba(80,80,80,0.3);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
#header {
    position: relative;
}

.button {
    position: absolute;
    background: rgb(145,145,145);
    border-style: solid;
    border-color: rgb(190,190,190);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    width: 80px;
    top: 5px;
    text-align: center;
    color: rgb(190,190,190);
    cursor: pointer;
}

.button:hover {
    background: rgb(180,180,180);
    border-color: rgb(240,240,240);
    color: rgb(240,240,240);
}

#bttn_refresh {
    right: 5px;
}

#bttn_pause {
    right: 95px;
}

#bttn_start {
    right: 185px;
}

#right_bar {
    position: fixed;
    top:0;
    width: 320px;
    height: 100%;
}

#right_bar.close {
    right: -320px;
}

#right_bar.open {
    right: 0;
}



